*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.cursor{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    position: absolute; 
    transition: all linear 0.2s;  
    mix-blend-mode: difference;
}
#main{
    background-color: #111;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

h1{
    font-size: 20vw;
    font-weight: 900;
   
}